body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body > h4{
    position: absolute;
    
}

#rain_widget{
    position: absolute;
    width: 1920px;
    height: 1080px;
    z-index: 3;
}

#test{
    position: absolute;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    gap: 5px;
    z-index: 2;
}

#bg_greying{
    left: 1483px;
    position: absolute;
    height: 748px;
    width: 437px;
    background-color: black;
    opacity: 0%;
    z-index: 2;
}

/* --------------------------------- Clouds --------------------------------- */
#cloud_container_1{
    position: absolute;
    z-index: 2;
}

#cloud_container_2{
    position: absolute;
    z-index: 1;
}

.cloud{
    position: absolute;
    opacity: 0%;
}

#cloud_container_1 img:nth-child(1){
    width: 500px;
    left: 1030px;
    top: -40px;
}

#cloud_container_1 img:nth-child(2){
    left: 1015px;
    top: 80px;
}

#cloud_container_1 img:nth-child(3){
    width: 400px;
    left: 2000px;
    top: 30px;
}